@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@400;500;600;700&family=Ubuntu:wght@300;400&display=swap');




body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    color: #516171;
}


@media only screen and (max-width : 767px){

    .min-height-xs-100px
    {
        min-height: 100px !important;
    }

    .min-height-xs-200px
    {
        min-height: 200px !important;
    }

    .min-height-xs-300px
    {
        min-height: 300px !important;
    }

    .min-height-xs-400px
    {
        min-height: 400px !important;
    }

    .min-height-xs-500px
    {
        min-height: 500px !important;
    }

    .min-height-xs-600px
    {
        min-height: 600px !important;
    }

    .min-height-xs-700px
    {
        min-height: 700px !important;
    }

    .min-height-xs-800px
    {
        min-height: 800px !important;
    }
    .min-height-xs-900px
    {
        min-height: 900px !important;
    }

}


h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #092032;
}

a{
    color: #092032;
    font-weight: 700;
}



img{
    width: 100%;
}

.bg-cover{
    background-position: center;
    background-size: cover ;
    background-position: center ;
}





/*button*/

.btn{
    padding: 9px 24px;
}
.btn-brand{
    background-color: #0f6fb2;
    color: #ffff;
    border-color: #3090C7;
    transition: 0.4s;


}
.btn-brand:hover{
    color: #ffff;
    background-color: #0a699c;
}


/*Img Slider*/
.slide1{
    background-image: linear-gradient(rgba(26, 92, 154, 0.4), rgba(25, 87, 140, 0.4)), url(../img/doctor.png);
    margin-bottom: 105px;
}


.display-2{
    font-weight: 700;
    font-size: 60px;
}


.btn-outline-light{
    color: #ffff;
    border-color: #f6f6f6;
    transition: 0.4s;


}
.btn-outline-light:hover{
    color: black;
    background-color: #ffffff;
}

p{
    color: #f6f6f6;
}


.set-section a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.5s ease;
}


.set-section a:hover{
    color:#081f3e;
}


/*appointment*/
.medbook-book-an-appoinment-area {
    position: relative;
    z-index: 1;
    margin-top: -165px;
    padding-bottom: 60px;
}

.medbook-book-an-appoinment-area:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.medbook-book-an-appoinment-area .appointment-form-content {
    background-color: #092032; }
.medbook-book-an-appoinment-area .medbook-appointment-form {
    background-color: #092032;
    padding: 50px 125px; }
.medbook-book-an-appoinment-area .medbook-appointment-form select {
    border: 2px solid #536174;
    background-color: transparent; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .medbook-book-an-appoinment-area .medbook-appointment-form {
        padding: 40px 30px; } }
@media only screen and (max-width: 767px) {
    .medbook-book-an-appoinment-area .medbook-appointment-form {
        padding: 30px; } }
@media only screen and (max-width: 767px) {
    .medbook-book-an-appoinment-area .medbook-appointment-form button[type=submit] {
        margin-top: 15px; } }
.medbook-book-an-appoinment-area .medbook-contact-info {
    padding: 30px;
    background-color: #057b81;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .medbook-book-an-appoinment-area .medbook-contact-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 0;
    }
}

#medilife{
    display: inline-block;
    color: #ffffff;
    background-color: #057b81;
    height: 45px;
    padding: 0 55px 0 30px;
    line-height: 42px;
    font-size: 14px;
    min-width: 140px;
    border-radius: 0;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
}

.medilife-btn span {
    width: 40px;
    height: 45px;
    background-color: #081f3e;
    display: inline-block;
    position: absolute;
    top: -1px;
    right: -30px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    transition-duration: 500ms;
}
#medilife:hover, #medilife:focus {
    background-color: #081f3e;
    color: #ffffff;
}
.medilife-btn:hover span, .medilife-btn:focus span {
    color: #ffffff;
    background-color: #057b81; }







.single-contact-info i {
    margin-bottom: 15px;
}
.single-contact-info p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.single-contact-info i{
    color: white;
}


/*appoint-form*/
.modal-header{
    background-color: white;
    color: #057b81;
}

.panel {
    margin-bottom: 23px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.list-group + .panel-footer {
    border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
    margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 2px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 2px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
    border-top: 1px solid #dddddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
    border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
}
.panel > .table-responsive {
    border: 0;
    margin-bottom: 0;
}
.panel-group {
    margin-bottom: 23px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 3px;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}
.panel-default {
    border-color: #dddddd;
}
.panel-default > .panel-heading {
    color: #212121;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}



.quick-appoint .appoint-btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.appoint-btn .btn{
    color: white;
    background-color: #057b81;
}



/*bottom_content*/
.underlined-title
{
    text-align: center;
    padding-bottom: 30px;
}

.underlined-title h1
{
    color: #2c3e50;
    margin: 0;
}

.underlined-title h2
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #057b81;
}

.underlined-title hr
{
    margin-left: 20%;
    margin-right: 20%;
    border-width: 2px;
    border-color: #0a3850;
}


#contents p{
    color: #2c3e50;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
}

#contents span{
    font-size: 40px;
    color: #057b81;
    transition: 0.4s ease;
}


#contents{
    padding-bottom: 100px;
}


#contents .feats{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    color: white;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.4s;
}

#contents .feats:hover{
    transform: scale(1.2);
}




/*footer*/

footer{
    background-color: #092032;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.footer_top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.footer_top .navbar-brand{
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.socal-links a{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: white;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.4s ease;
}

.socal-links a:hover{
    background-color: #ffffff;
    color: #0a699c;
}



.footer_widget{
    box-sizing: border-box;
    list-style-type: none;
    text-align: justify-all;
}
.footer_widget a{
    text-decoration: none;
    font-size: 18px;
}


.footer_address i{
    margin-right: 10px;
}

.footer_address{
    box-sizing: border-box;
    list-style-type: none;
    text-align: justify-all;
}
.footer_address p{
    text-decoration: none;
    font-size: 18px;
}

.footer_widget h5,
.footer_address h5{
    font-weight: 700;
    color: #50f4fc;
}

