@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@400;500;600;700&family=Ubuntu:wght@300;400&display=swap');




body{
    font-family:'Barlow', sans-serif;
    line-height: 1.7;
    color: #516171;



@media only screen and (max-width : 767px){

    .min-height-xs-100px
    {
        min-height: 100px !important;
    }

    .min-height-xs-200px
    {
        min-height: 200px !important;
    }

    .min-height-xs-300px
    {
        min-height: 300px !important;
    }

    .min-height-xs-400px
    {
        min-height: 400px !important;
    }

    .min-height-xs-500px
    {
        min-height: 500px !important;
    }

    .min-height-xs-600px
    {
        min-height: 600px !important;
    }

    .min-height-xs-700px
    {
        min-height: 700px !important;
    }

    .min-height-xs-800px
    {
        min-height: 800px !important;
    }
    .min-height-xs-900px
    {
        min-height: 900px !important;
    }

}
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #092032;
}

a{
    color: #092032;
}



img{
    width: 100%;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}




/*navbar*/

.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar a {
    color: #092032;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease;

}


.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: #092032;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #659EC7;
}

.nav-item{
    margin: 0px 20px 0px 20px;
}



/*button*/

.btn{
    padding: 9px 24px;
}
.btn-brand{
    background-color: #0f6fb2;
    color: #ffff;
    border-color: #3090C7;
    transition: 0.4s;


}
.btn-brand:hover{
    color: #ffff;
    background-color: #0a699c;
}


/*Img Slider*/
.slide1{
    background-image: linear-gradient(rgba(26, 92, 154, 0.4), rgba(25, 87, 140, 0.4)), url(/Web_Tech/img/doctor.png);
    margin-bottom: 105px;
}


.display-2{
    font-weight: 700;
    font-size: 60px;
}


.btn-outline-light{
    color: #ffff;
    border-color: #f6f6f6;
    transition: 0.4s;


}
.btn-outline-light:hover{
    color: black;
    background-color: #ffffff;
}

p{
    color: #f6f6f6;
}





/*bottom_content*/
.underlined-title
{
    text-align: center;
    padding-bottom: 30px;
}

.underlined-title h1
{
    color: #2c3e50;
    margin: 0;
}

.underlined-title h2
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #057b81;
}

.underlined-title hr
{
    margin-left: 20%;
    margin-right: 20%;
    border-width: 2px;
    border-color: #0a3850;
}


#contents p{
    color: #2c3e50;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
}

#contents span{
    font-size: 40px;
    color: #057b81;
    transition: 0.4s ease;
}


#contents{
    padding-bottom: 100px;
}


#contents .feats{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    color: white;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.4s;
}

#contents .feats:hover{
    transform: scale(1.2);
}




/*footer*/

footer{
    background-color: #0a699c;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.footer_top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.footer_top .navbar-brand{
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.socal-links a{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: white;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.4s ease;
}

.socal-links a:hover{
    background-color: #ffffff;
    color: #0a699c;
}



.footer_widget{
    box-sizing: border-box;
    list-style-type: none;
    text-align: justify-all;
}
.footer_widget a{
    text-decoration: none;
    font-size: 18px;
}


.footer_address i{
    margin-right: 10px;
}

.footer_address{
    box-sizing: border-box;
    list-style-type: none;
    text-align: justify-all;
}
.footer_address p{
    text-decoration: none;
    font-size: 18px;
}

.footer_widget h5,
.footer_address h5{
    font-weight: 700;
    color: #50f4fc;
}

